#home {
  display: flex;
  background-image: url('../../assets/Backgrounds/Bg_Header@3x.png');
  background-size: cover;
  background-position: initial;
  padding: 112px 60px 0 60px;

  .content-home {
    flex: 1;
    font-size: 44px;
    width: 50%;
    padding-top: 80px;
  }

  .content-img {
    flex: 1;
    text-align: center;

    img {
      width: auto;
      height: auto;
      max-height: 400px;
      background-color: #fff;
      transform: scaleX(-1);
      max-width: 100%;
    }
  }
}

@media (max-width: 770px) {
  #home {
    background-image: url('../../assets/Backgrounds/Bg_Header@2x.png');

    .content-home {
      text-align: center;
      padding-top: 40px;
      font-size: 32px;
    }
  }
}

@media (max-width: 650px) {
  #home {
    display: block;
    padding: 166px 30px 0 30px;

    .content-home {
      text-align: center;
      padding-top: 40px;
      font-size: 30px;
    }

    .content-img {
      img {
        max-width: 280px;
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 450px) {
  #home {
    background-image: url('../../assets/Backgrounds/Bg_Header.png');
  }
}
