#footer {
  padding: 60px 15px 15px 15px;
  text-align: center;
  background-image: url('../../assets/Backgrounds/Bg_Footer@3x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .title-bold {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 1%;
  }

  .footer-title {
    font-size: 32px;
  }

  .color-blue {
    color: #01a7e8;
  }

  .btn-content {
    margin-top: 3%;
  }

  .btn-content > a:hover {
    color: #01a7e8;
    background-color: white;
    border: 1px solid #01a7e8;
  }

  .title-text {
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 20px;
  }

  .footer-button {
    border-radius: 30px;
    padding: 15px 60px;
    border: 1px solid #01a7e8;
    background-color: #01a7e8;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }

  .footer-img {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .footer-animation {
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    -ms-transition: -ms-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
  }

  .footer-animation:hover {
    transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
  }
}

@media (max-width: 770px) {
  #footer {
    background-image: url('../../assets/Backgrounds/Bg_Footer@2x.png');

    .title-bold {
      font-size: 35px;
    }
    .footer-title {
      font-size: 25px;
    }
  }
}

@media (max-width: 650px) {
  #footer {
    .title-bold {
      font-size: 30px;
    }
    .footer-title {
      font-size: 20px;
    }
  }
}

@media (max-width: 425px) {
  #footer {
    background-image: url('../../assets/Backgrounds/Bg_Footer.png');
  }
}
